Flask
Flask-SQLAlchemy
Flask-Cors
Flask-Mail
python-dotenv
PyMuPDF
google-auth
google-auth-oauthlib
google-api-python-client
apscheduler
psycopg2-binary
Pillow
psutil
gunicorn
python-dateutil
requests