# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# This workflow starts your API and fuzzes it with ForAllSecure Mayhem for API
# to find reliability, performance and security issues before they reach
# production.
#
# To use this workflow, you will need to:
#
# 1. Create a Mayhem account at https://app.mayhem.security
#
# 2. Create an API token at https://app.mayhem.security/-/settings/user/api-tokens
#
# 3. Add the API token as a secret in GitHub called "MAYHEM_TOKEN"
#
# 4. Update the "Start your API" step to run your API in the background before
#    starting the Mayhem for API scan, and update the `api-url` & `api-spec`
#    field.
#
# If you have any questions, please contact us at mayhem4api@forallsecure.com

name: "Mayhem for API"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  mayhem-for-api:
    name: Mayhem for API
    runs-on: ubuntu-latest
    env:
      # Environment Secrets
      GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_USER: ${{ secrets.DB_USER }}
      # Environment Variables with Explicit Fallbacks (Aligned with .env)
      DB_PORT: 5432
      DEBUG: true
      ENABLE_FILE_LOGGING: false
      FRONTEND_BASE_URL: http://localhost:5000
      FRONTEND_STATIC_DIR: ./client/public
      MAIL_PORT: 587
      MAIL_SERVER: smtp.gmail.com
      MAIL_USE_TLS: True
      MEMORY_HIGH_THRESHOLD_MB: 350
      MEMORY_LOW_THRESHOLD_MB: 250
      PORT: 5000
      SCOPES: https://www.googleapis.com/auth/drive.readonly
    steps:
      - uses: actions/checkout@v4

      - name: Debug Environment Variables
        run: |
          echo "DB_HOST=${DB_HOST}"
          echo "DB_NAME=${DB_NAME}"
          echo "DB_USER=${DB_USER}"
          echo "DB_PASSWORD=${DB_PASSWORD}"

      - name: Make backend start script executable
        run: chmod +x ./server/start_backend.sh

      - name: Start your API
        run: ./server/start_backend.sh

      - name: Mayhem for API
        uses: ForAllSecure/mapi-action@v1
        continue-on-error: true
        with:
          mayhem-token: ${{ vars.MAYHEM_TOKEN }}
          api-url: https://dev-swc-backend-1v2c.onrender.com/
          api-spec: https://dev-swc-backend-1v2c.onrender.com/swagger.json
          duration: 60
          sarif-report: mapi.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: mapi.sarif